# Ignore artifacts:
build/
dist/
coverage/

# Ignore dependencies:
node_modules/

# Ignore configuration and lock files:
package-lock.json
yarn.lock
pnpm-lock.yaml

# Ignore environment files:
.env
.env.*

# Ignore specific files or folders:
public/
*.min.js
*.bundle.js

# Ignore version control:
.git/

# Optional: ignore formatted output files
*.log
